apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: simple-static-default-backend
  labels:
    app: nginx-ingress
    component: default-backend
  annotations:
    kubernetes.io/ingress.class: "nginx"

spec:
  rules:
    http:
      paths:
      - path: /
        backend:
          serviceName: simple-static-default-backend
          servicePort: 80
